// Breakpoints
$break-xs: 374px;
$break-sm: 375px;
$break-md: 782px;
$break-lg: 992px;
$break-xl: 1200px;
$break-2xl: 1440px;

// colors
$color-primary: #0f3952;
$color-secondary: #102d12;
$color-tertiary: #b6b9b9;
$color-jasmine: #ffd275;
$color-red: #d74058;
$color-gray: #f5f5f5;
$color-white: #fff;
$color-black: #141515;

$colors: (
  'primary': $color-primary,
  'secondary': $color-secondary,
  'tertiary': $color-tertiary,
  'jasmine': $color-jasmine,
  'red': $color-red,
  'gray': $color-gray,
  'white': $color-white,
  'black': $color-black,
);

// spacing units
$spacing-unit: (
  '0': 0,
  '1': 0.25rem,
  '2': 0.5rem,
  '3': 1rem,
  '4': 1.5rem,
  '5': 3rem,
);
