@use '../../00-helpers/inc' as inc;
@use '../../00-helpers/variables' as var;

* {
  box-sizing: border-box;
}

:where(body .is-layout-flow) > *,
:where(.wp-site-blocks) > .entry-content {
  margin-top: 0 !important;
}

.no-block-starting-margin {
  margin-block-start: 0px !important;
}

.is-style-container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  @include inc.mq-up(md) {
    max-width: 768px !important;
  }

  @include inc.mq-up(lg) {
    max-width: 960px !important;
    padding-left: 0;
    padding-right: 0;
  }

  @include inc.mq-up(xl) {
    max-width: 1140px !important;
  }

  @include inc.mq-up('2xl') {
    max-width: 1320px !important;
  }

  @include inc.mq-up('3xl') {
    max-width: 1600px !important;
  }
}

.is-style-container {
  width: 100%;
}

.home .wp-block-post-title a {
  text-decoration: none !important;
}

.is-style-tb-theme-flex {
  display: flex;
  flex-wrap: wrap;
}

.tb-theme-post-cat a {
  text-decoration: none;
}

// admin bar
html #wpadminbar {
  position: fixed;
}

// circle border
.has-circle-border {
  border-radius: 50%;
}

// real testimonials style
.sp-testimonial-free-wrapper {
  min-width: 100%;
}

.sp-testimonial-free {
  height: 630px !important;
  padding: 1.5rem 1rem;
}

.sp-testimonial-free-section p,
.sp-testimonial-free-section .sp-testimonial-client-designation {
  font-family: poppins, sans-serif;
}

.sp-testimonial-free-section .sp-testimonial-client-testimonial p {
  font-size: 1.125rem !important;
  line-height: 1.75 !important;
}
