/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-mp-category-display-block {
	padding: .5rem;
  border: 1px dotted #f00;
}

.category-display-block__text {
  font-size: 1rem;
}


.components-button-group .components-button {
  width: 44%;
  height: 50px;
  justify-content: center;
  

  &:first-child {
    margin-right: .5rem;
  }
}