<header class="wp-block-group header" data-js="header">

  <!-- wp:template-part {"slug":"header","theme":"teronbullock","tagName":"div","area":"header","align":"full"} /-->
  
  </header>
  
  <!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","layout":{"contentSize":"900px","type":"constrained","wideSize":"1320px"}} -->
  <main class="wp-block-query"><!-- wp:post-template {"align":"wide","layout":{"type":"default"}} -->
  <!-- wp:group {"align":"full","layout":{"type":"constrained","contentSize":"900px","wideSize":"1320px"}} -->
  <div class="wp-block-group alignfull"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"focalPoint":{"x":0.5,"y":0},"minHeight":600,"minHeightUnit":"px","contentPosition":"top center","isDark":false,"align":"wide","style":{"border":{"radius":"8px","width":"0px","style":"none"},"spacing":{"margin":{"bottom":"1.5rem"}}},"className":"is-style-project-cover","layout":{"type":"constrained"}} -->
  <div class="wp-block-cover alignwide is-light has-custom-content-position is-position-top-center is-style-project-cover" style="border-style:none;border-width:0px;border-radius:8px;margin-bottom:1.5rem;min-height:600px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
  <p class="has-text-align-center has-large-font-size"></p>
  <!-- /wp:paragraph --></div></div>
  <!-- /wp:cover -->
  
  <!-- wp:columns {"align":"wide"} -->
  <div class="wp-block-columns alignwide"><!-- wp:column -->
  <div class="wp-block-column"><!-- wp:spacer {"height":"1rem"} -->
  <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  
  <!-- wp:post-title {"level":1,"align":"full","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"600"}}} /-->
  
  <!-- wp:spacer {"height":"1rem"} -->
  <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  
  <!-- wp:post-content /--></div>
  <!-- /wp:column --></div>
  <!-- /wp:columns --></div>
  <!-- /wp:group -->
  <!-- /wp:post-template --></main>
  <!-- /wp:query -->
  
  <!-- wp:template-part {"slug":"footer","theme":"teronbullock","tagName":"footer"} /-->