<!-- wp:group {"backgroundColor":"white-smoke","layout":{"type":"default"}} -->
<div class="wp-block-group has-white-smoke-background-color has-background">
  <!-- wp:template-part {"slug":"header","theme":"teronbullock","tagName":"div","area":"header","align":"full"} /-->

  <!-- wp:post-content {"layout":{"type":"default"}} /-->

  <!-- wp:group {"backgroundColor":"white-smoke","layout":{"type":"constrained"}} -->
  <div class="wp-block-group has-white-smoke-background-color has-background">
    <!-- wp:spacer {"height":"6rem"} -->
    <div style="height: 6rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->

  <!-- wp:template-part {"slug":"footer","theme":"teronbullock","tagName":"footer","className":"footer"} /-->
</div>
<!-- /wp:group -->
