<!-- wp:template-part {"slug":"header","theme":"teronbullock","area":"header"} /-->

<!-- wp:spacer {"height":"4rem"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:tb-theme/query-card -->
<!-- wp:group {"metadata":{"name":"Query Container"},"className":"tb-query-container is-style-container","layout":{"type":"constrained","contentSize":"900px","wideSize":"1320px"}} -->
<div class="wp-block-group tb-query-container is-style-container"><!-- wp:query {"queryId":5,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"metadata":{"name":"Post Item"},"className":"tb-post-item","style":{"border":{"width":"1px","color":"#0f3952","radius":"10px"},"spacing":{"padding":{"top":"2rem","bottom":"2rem","left":"2rem","right":"2rem"},"margin":{"bottom":"2rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group tb-post-item has-border-color" style="border-color:#0f3952;border-width:1px;border-radius:10px;margin-bottom:2rem;padding-top:2rem;padding-right:2rem;padding-bottom:2rem;padding-left:2rem"><!-- wp:post-title {"align":"wide","style":{"spacing":{"margin":{"right":"0","left":"0","top":"0","bottom":"1rem"}},"typography":{"lineHeight":"1.33"},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"medium"} /-->

<!-- wp:group {"metadata":{"name":"Post Meta"},"className":"tb-post-meta is-style-tb-theme-flex","style":{"spacing":{"margin":{"bottom":"1rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group tb-post-meta is-style-tb-theme-flex" style="margin-bottom:1rem"><!-- wp:tb-theme/category-display-block {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"spacing":{"padding":{"all":"var:preset|spacing|20"},"margin":{"right":"var:preset|spacing|40"}}},"backgroundColor":"primary","textColor":"white","fontSize":"small"} /-->

<!-- wp:post-date {"style":{"spacing":{"margin":{"left":"var:preset|spacing|20","right":"0"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}},"elements":{"link":{"color":{"text":"var:preset|color|black"},":hover":{"color":{"text":"var:preset|color|black"}}}}},"textColor":"black","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->
<!-- /wp:tb-theme/query-card -->

<!-- wp:template-part {"slug":"footer","theme":"teronbullock","area":"footer","align":"full"} /-->