<!-- wp:template-part {"slug":"header-project-landing-page","theme":"teronbullock"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","metadata":{"name":"Project Query Loop"},"align":"full","className":"is-style-container","layout":{"contentSize":"1100px","type":"constrained","wideSize":"1320px"}} -->
<main class="wp-block-query alignfull is-style-container"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"customOverlayColor":"#FFF","isUserOverlayColor":true,"focalPoint":{"x":0.5,"y":0},"minHeightUnit":"px","contentPosition":"top center","isDark":false,"align":"center","className":"is-style-project-cover","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"default"}} -->
  <div class="wp-block-cover aligncenter is-light has-custom-content-position is-position-top-center is-style-project-cover" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
  <p class="has-text-align-center has-large-font-size"></p>
  <!-- /wp:paragraph --></div></div>
  <!-- /wp:cover -->
  
  <!-- wp:group {"metadata":{"name":"group-title \u0026 TechStack"},"className":"group-title is-style-default","layout":{"type":"default"}} -->
  <div class="wp-block-group group-title is-style-default"><!-- wp:post-title {"textAlign":"left","level":1,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"600"},"spacing":{"margin":{"top":"var:preset|spacing|0"}}},"fontSize":"x-large"} /-->
  
  <!-- wp:tb-theme/technologies-block /--></div>
  <!-- /wp:group -->
  
  <!-- wp:post-content {"className":"is-style-default","style":{"spacing":{"margin":{"top":"0"}}}} /--></main>
  <!-- /wp:query -->
  
  <!-- wp:template-part {"slug":"footer","theme":"teronbullock","tagName":"footer"} /-->