<!-- wp:template-part {"slug":"header","theme":"teronbullock","tagName":"header","area":"header","align":"full"} /-->

<!-- wp:spacer {"height":"4rem"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"900px","wideSize":"1320px"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"contentSize":"900px","type":"constrained","wideSize":"1320px"}} -->
<main class="wp-block-query alignfull"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"customOverlayColor":"#FFF","isUserOverlayColor":true,"focalPoint":{"x":0.5,"y":0},"minHeight":600,"minHeightUnit":"px","contentPosition":"top center","isDark":false,"align":"wide","className":"is-style-project-cover","style":{"border":{"radius":"8px","width":"0px","style":"none"},"spacing":{"margin":{"bottom":"1.5rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover alignwide is-light has-custom-content-position is-position-top-center is-style-project-cover" style="border-style:none;border-width:0px;border-radius:8px;margin-bottom:1.5rem;min-height:600px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"height":"0.5rem"} -->
<div style="height:0.5rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-title {"level":1,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"600"}}} /-->

<!-- wp:post-content /--></main>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"teronbullock","tagName":"footer"} /-->