@use '../00-helpers/variables' as var;
@use '../00-helpers/inc' as inc;

// .editor-styles-wrapper .wp-block-columns,
// .wp-container-core-columns-layout-3.wp-container-core-columns-layout-3 {

//   &--tb-mobile-wrap {
//     flex-wrap: wrap !important;
//   }

// }
.home {
  .wp-block-cover .wp-block-columns {
    @include inc.mq-down(md) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.wp-block-columns--tb-mobile-wrap {
  padding-left: 2rem;
  padding-right: 2rem;
  flex-wrap: wrap !important;
  gap: 2.125rem;
}

.wp-block-columns.wp-block-columns--tb-mobile-wrap .wp-block-column {
  flex-basis: 28% !important;

  &:last-child {
    @media (min-width: 504px) {
      max-width: 33%;
    }
  }
}

.wp-block-columns.wp-block-columns--profile {
  margin-bottom: 0.5rem;

  .wp-block-column--profile-img {
    overflow: hidden;

    @include inc.mq-down(md) {
      background-color: unset !important;
      margin-bottom: 1rem;
    }

    @include inc.mq-up(md) {
      border-radius: 10px 0 0 10px;
    }
  }

  .wp-block-column--profile-img img {
    @include inc.mq-down(md) {
      width: 125px;
      border-radius: 9999px;
      display: block;
      margin: 0 auto;
    }
  }

  .wp-block-column--profile-content {
    padding: 0rem 1.25rem 0rem;
    overflow: hidden;
    color: var.$color-black !important;

    @include inc.mq-down(md) {
      text-align: center;
      background-color: unset !important;
    }

    @include inc.mq-up(md) {
      padding: 2.75rem 2rem 1rem;
      border-radius: 0 10px 10px 0;
      color: var.$color-white !important;
    }
  }
}

.wp-block-columns.img-right-col,
.wp-block-columns.is-style-img-right-col {
  @include inc.mq-down(md) {
    flex-direction: column-reverse;
  }
}

.wp-block-columns .wp-block-image {
  @include inc.mq-down(md) {
    text-align: center !important;
    float: none !important;
    margin-inline-start: auto !important;
    margin-inline-end: auto !important;
  }
}

.section-group--about .wp-block-columns {
  @include inc.mq-down(md) {
    row-gap: 4rem;
  }
}
