@use '../00-helpers/variables' as var;
@use '../00-helpers/inc' as inc;


.wp-block-button .wp-block-button__link {
  min-width: 114px;
  margin: 1rem 0;
  padding: 0.75rem 0.5rem;
  border-radius: 3px;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
  white-space: nowrap;
  outline: none;
  transition-timing-function: ease;
  transition: padding .3s;
  text-decoration: none !important;
  font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
}

.wp-block-button.wp-block-button--business-card-cta .wp-block-button__link {
  margin: .5rem 0;
  padding: 1rem 0.5rem;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent !important;
    color: var.$color-white !important;
    border: 1px solid var.$color-red;
  }
}

.wp-block-button.wp-block-button--business-card-contact-item .wp-block-button__link {
  margin: 0;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent !important;
    color: var.$color-black !important;
    border: 1px solid var.$color-black;
  }
}

.wp-block-buttons-business-card-contact-list {
  gap: 1rem !important;
}

@each $color, $value in var.$colors {
  .wp-block-button.is-style-outline .wp-block-button__link.has-#{$color}-color {
  
    &:hover {
      background-color: $value !important;
      color: var.$color-white !important;
      border-color: $value !important;
      transition-timing-function: cubic-bezier(1,-0.02,.7,.93) !important;
      transition: background-color .25s, color .60s;
    }
  }
}

.post-type-archive-project .wp-block-buttons,
.tax-project_category .wp-block-buttons {
  flex-direction: column;
  gap: unset;

  @media(min-width: 486px) {
    flex-direction: row;
    gap: 24px;
  }
}

.post-type-archive-project .wp-block-button .wp-block-button__link,
.tax-project_category .wp-block-button .wp-block-button__link {
  margin: .65rem 0;

  @media(min-width: 486px) {
    margin: 1rem 0;
  }
}

.wp-block-button--close .wp-block-button__link {
  min-width: 48px;
  height: 48px;
  border-radius: 9999px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}