@use '../00-helpers/variables' as var;
@use '../00-helpers/inc' as inc;

.tb-theme-group-project-query {
  .wp-block-button.is-style-outline
    > .wp-block-button__link:not(.has-background):hover,
  .wp-block-button.is-style-outline.active
    > .wp-block-button__link:not(.has-background) {
    background-color: var.$color-red;
    color: var.$color-white;
  }
}

.is-style-tb-theme-group-project-header {
  margin: 0;
}

.section-group--about {
  @include inc.mq-down(md) {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }

  .wp-block-heading {
    @include inc.mq-down(md) {
      margin-bottom: 2rem;
    }
  }

  .wp-block-image {
    @include inc.mq-down(md) {
      margin-bottom: 2rem;
    }
  }

  .wp-block-image img {
    @include inc.mq-down(md) {
      width: 75%;
    }
  }
}

.wp-block-group {
  &.wp-block-group--header {
    padding-bottom: 1rem;

    @include inc.mq-up(md) {
      padding-bottom: 2rem;
    }
  }
}

.page-template-business-card,
.wp-admin .wp-block-group--business-card {
  background-color: #e6e4e4;
}

.wp-block-group--business-card {
  max-width: 600px;
  margin: 0 auto;
}

.has-backdrop-shadow {
  box-shadow: 16px 18px 12px -17px rgba(2, 8, 12, 0.65);
}
